<div class="container">
	<%= form_for([@world, @session]) do |form| %>
	  
	  <%= form.hidden_field :world_id, value: @world.id %>

	  
	  <%= form.hidden_field :ongoing, value: false %>
	  
	  <div class="field">
	    <%= form.label :notes %>
	    <%= form.text_area :notes %>
	  </div>

	  <div class="actions">
	    <%= form.submit %>
	  </div>

	<% end %>
</div>