<div class="jumbotron">
	<div class="container" style="margin-top: 10px">
		<%= image_tag 'logo.png' %>
		<p>Rules, characters and game field.</p>
		<br></br>
		<h2>RIP of the Week:</h2>
		<p>Rody the Brave.</p>
		<p>Killed by a lucky goblin.</p>
	</div>
</div>
<div class="container" style="margin-top: 0px">
	<br>
	<h2>Basics</h2>
	<h4><em>"Land of the Five is a tabletop roleplaying fantasy game that focuses on both role-playing and combat. It was created by Francisco "Mechero" Alvarez with the help of Ignacio "Montaque" Carril."</em></h4>
	<br>
	<h2>Most Played</h2>
	<div class="card-columns">
		<% @characters.each do |character| %>
			<div class="card shadow">
				<div class="card-body">
					<h4 class="card-title"><%= link_to character.name, character %></h4>
					<p class="card-text"><%= character.race.name %>, <%= character.archetype.name %></p>
					<p class="card-text">Played <%= character.played %> times.</p>
					<%= link_to character.user.name, '/users/' + character.user.id.to_s %>
				</div>
			</div>
		<% end %>
	</div>
	<br>
	<h2>Memorial Wall</h2>
	<div class="card-columns">
		<% @characters_deceased.each do |character| %>
			<div class="card" style="width: 20vw;">
				<img class="card-img-top" src="paper.jpg" alt="Character Image">
				<div class="card-body">
					<h4 class="card-title"><%= character.name %></h4>
					<p class="card-text"><%= character.race.name %>, <%= character.archetype.name %></p>
					<%= link_to character.user.name, '/users/' + character.user.id.to_s %>
				</div>
			</div>
		<% end %>
	</div>
</div>