<%= form_with(model: character, local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
      <%= form.label :world_id %><br/>
      <%= form.collection_select :world_id,  World.order('name ASC'), :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :exp %>
    <% if character.exp.nil? %>
      <%= form.number_field :exp, :value => 0 %>
    <% else %>
      <%= form.number_field :exp, :value => character.exp %>
    <% end %>
  </div>

  <div class="field">
      <%= form.label :archetype_id %><br/>
      <%= form.collection_select :archetype_id,  Archetype.order('name ASC'), :id, :name, include_blank: false %>
  </div>

  <div class="field">
      <%= form.label :race_id %><br/>
      <%= form.collection_select :race_id,  Race.order('name ASC'), :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :role, 'Class' %>
    <%= form.text_field :role %>
  </div>

  <div class="field">
    <%= form.label :HP %>
    <% if character.hp.nil? %>
      <%= form.number_field :hp, :value => 0 %>
    <% else %>
      <%= form.number_field :hp, :value => character.hp %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :strength %>
    <% if character.strength.nil? %>
      <%= form.number_field :strength, :value => 0 %>
    <% else %>
      <%= form.number_field :strength, :value => character.strength %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :vitality %>
    <% if character.vitality.nil? %>
      <%= form.number_field :vitality, :value => 0 %>
    <% else %>
      <%= form.number_field :vitality, :value => character.vitality  %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :intelligence %>
    <% if character.intelligence.nil? %>
      <%= form.number_field :intelligence, :value => 0 %>
    <% else %>
      <%= form.number_field :intelligence, :value => character.intelligence  %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :dexterity %>
    <% if character.dexterity.nil? %>
      <%= form.number_field :dexterity, :value => 0 %>
    <% else %>
      <%= form.number_field :dexterity, :value => character.dexterity  %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :agility %>
    <% if character.agility.nil? %>
      <%= form.number_field :agility, :value => 0 %>
    <% else %>
      <%= form.number_field :agility, :value => character.agility  %>
    <% end %>

  </div>

  <div class="field">
    <%= form.label :wisdom %>
    <% if character.wisdom.nil? %>
      <%= form.number_field :wisdom, :value => 0 %>
    <% else %>
      <%= form.number_field :wisdom, :value => character.wisdom  %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :charisma %>
    <% if character.charisma.nil? %>
      <%= form.number_field :charisma, :value => 0 %>
    <% else %>
      <%= form.number_field :charisma, :value => character.charisma  %>
    <% end %>
  </div>

  <div class="field">
      <%= form.label :alive %>
      <%= form.check_box :alive %>
  </div>

  <%= form.hidden_field :gp, value: 5 %>

  <%= form.hidden_field :alive, value: true %>

  <%= form.hidden_field :played, value: 0 %>

  <div class="actions">
    <%= form.submit class:"btn btn-light" %>
  </div>

<% end %>