<%= form_with(model: character, local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
      <%= form.label :world_id %><br/>
      <%= form.collection_select :world_id,  World.order('name ASC'), :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :exp %>
    <%= form.number_field :exp, :value => 0 %>
  </div>

  <div class="field">
      <%= form.label :archetype_id %><br/>
      <%= form.collection_select :archetype_id,  Archetype.order('name ASC'), :id, :name, include_blank: false %>
  </div>

  <div class="field">
      <%= form.label :race_id %><br/>
      <%= form.collection_select :race_id,  Race.order('name ASC'), :id, :name, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :role, 'Class' %>
    <%= form.text_field :role %>
  </div>

  <div class="field">
    <%= form.label :strength %>
    <%= form.number_field :strength, :value => 0 %>
  </div>

  <div class="field">
    <%= form.label :vitality %>
    <%= form.number_field :vitality, :value => 0  %>
  </div>

  <div class="field">
    <%= form.label :intelligence %>
    <%= form.number_field :intelligence, :value => 0  %>
  </div>

  <div class="field">
    <%= form.label :dexterity %>
    <%= form.number_field :dexterity, :value => 0  %>
  </div>

  <div class="field">
    <%= form.label :agility %>
    <%= form.number_field :agility, :value => 0  %>
  </div>

  <div class="field">
    <%= form.label :wisdom %>
    <%= form.number_field :wisdom, :value => 0  %>
  </div>

  <div class="field">
    <%= form.label :charisma %>
    <%= form.number_field :charisma, :value => 0  %>
  </div>

  <%= form.hidden_field :gp, value: 5 %>

  <%= form.hidden_field :alive, value: true %>

  <%= form.hidden_field :played, value: 0 %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>