<div class="container">

  <h1> <%= @character.name %> </h1>

  <div class="row">

    <div class="col-sm-6">

      <p>
        <strong>User:</strong>
        <%= @character.user.name %>
      </p>

      <p>
        <strong>World:</strong>
        <%= @character.world.name %>
      </p>

      <p>
        <strong>Arch:</strong>
        <%= @character.archetype.name %>
      </p>

      <p>
        <strong>Race:</strong>
        <%= @character.race.name %>
      </p>

      <p>
        <strong>Class:</strong>
        <%= @character.role %>
      </p>

      <p>
        <strong>Str:</strong>
        <%= @character.strength %>
      </p>

      <p>
        <strong>Vit:</strong>
        <%= @character.vitality %>
      </p>

      <p>
        <strong>Int:</strong>
        <%= @character.intelligence %>
      </p>

      <p>
        <strong>Dex:</strong>
        <%= @character.dexterity %>
      </p>

      <p>
        <strong>Agi:</strong>
        <%= @character.agility %>
      </p>

      <p>
        <strong>Wis:</strong>
        <%= @character.wisdom %>
      </p>

      <p>
        <strong>Cha:</strong>
        <%= @character.charisma %>
      </p>

    </div>

    <div class="col-sm-6">

      <p>
        <strong>Level:</strong>
        <%= @character.level %>
      </p>

      <p>
        <strong>Exp:</strong>
        <%= @character.exp %>
      </p>

      <p>
        <strong>Hp:</strong>
        <%= @character.hp %>
      </p>

      <p>
        <strong>Cp:</strong>
        <%= @character.cp %>
      </p>

      <p>
        <strong>Sp:</strong>
        <%= @character.sp %>
      </p>

      <p>
        <strong>Gp:</strong>
        <%= @character.gp %>
      </p>

      <p>
        <strong>Pp:</strong>
        <%= @character.pp %>
      </p>

      <p>
        <strong>Locx:</strong>
        <%= @character.locX %>
      </p>

      <p>
        <strong>Locy:</strong>
        <%= @character.locY %>
      </p>
  
    </div>

  </div>

  <h2> Abilities </h2>

  <table class="table table-light shadow">
    <thead>
      <tr>
        <th>Name</th>
        <th>Range</th>
        <th>Effect</th>
        <th>Flair</th>
        <th colspan="300"></th>
      </tr>
    </thead>
    <tbody>
      <% @abilities.each do |ab| %>
        <tr>
          <td><%= ab.name %></td>
          <td><%= ab.range %></td>
          <td><%= ab.effect %></td>
          <td><%= ab.flair %></td>
          <td><%= link_to 'Delete', character_ability_path(@character.id, ab.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @character.user == current_user %>
    <%= link_to 'Create an Ability', new_character_ability_path(@character.id), class: "btn btn-light shadow" %>
  <% end %>

  <br><br>
  <h2> Items </h2>
  <% @items.each do |item| %>
  <div class="card-columns">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title"><%= item.name %></h4>
        <p class="card-text"><%= item.description %></p>
        <p class="card-subtitle mb-2 text-muted">Durability: <%= item.uses %>/<%= item.durability %></p>
      </div>
    </div>

  </div>
  <% end %>
  <br>

</div>