<div class="container">

  <h1> <%= @character.name %> </h1>

  <p>
    <strong>User:</strong>
    <%= @character.user.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= @character.level %>
  </p>

  <p>
    <strong>Exp:</strong>
    <%= @character.exp %>
  </p>

  <p>
    <strong>Arch:</strong>
    <%= @character.archetype.name %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= @character.race.name %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= @character.role %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= @character.hp %>
  </p>

  <p>
    <strong>Cp:</strong>
    <%= @character.cp %>
  </p>

  <p>
    <strong>Sp:</strong>
    <%= @character.sp %>
  </p>

  <p>
    <strong>Gp:</strong>
    <%= @character.gp %>
  </p>

  <p>
    <strong>Pp:</strong>
    <%= @character.pp %>
  </p>

  <p>
    <strong>Locx:</strong>
    <%= @character.locX %>
  </p>

  <p>
    <strong>Locy:</strong>
    <%= @character.locY %>
  </p>

  <%= link_to 'Edit', edit_character_path(@character) %> |
  <%= link_to 'Back', characters_path %>

</div>