<div class="container">

	<%= form_for ([@session, @sessioncharacter]) do |form| %>

		<%= form.hidden_field :session_id, value: params[:session_id] %>

		<div class="field">
			<%= form.label :character_id %><br/>
			<%= form.collection_select :character_id,  Character.order('name ASC').where('id = ?',"#{@session.world}"), :id, :name, include_blank: false %>
		</div>

		<div class="actions">
		    <%= form.submit %>
		</div>

	<% end %>

</div>