<div class="container">

	<%= form_for ([@world, @session, @sessioncharacter]) do |form| %>

		<%= form.hidden_field :session_id, value: params[:session_id] %>

		<div class="field">
			<%= form.label :character_id %><br/>
			<%= form.collection_select :character_id,  Character.order('name ASC').where('world_id = ?',"#{@session.world_id}"), :id, :name, include_blank: false %>
		</div>

		<div class="actions">
		    <%= form.submit "Add", class: "btn btn-success shadow" %>
		    <%= link_to "Back", world_session_path(@session.world, @session.id) , class: "btn btn-light shadow" %>
		</div>

	<% end %>

</div>