<%= form_for([@character, @ability]) do |form| %>
  <% if ability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ability.errors.count, "error") %> prohibited this ability from being saved:</h2>

      <ul>
      <% ability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= form.label :phase %>
      <%= form.select( :phase, { "Passive" => 1, "Active" => 2, "Free" => 3, "Reaction" => 4}) %>
    </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.hidden_field :character_id, value: @character.id %>

  <div class="field">
    <%= form.label :range %>
    <%= form.text_field :range %>
  </div>

  <div class="field">
    <%= form.label :effect %>
    <%= form.text_field :effect %>
  </div>

  <div class="field">
    <%= form.label :flair %>
    <%= form.text_field :flair %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
