<div class="container">
	<h1><%= @user.name %></h1>
	<p><%= @user.email %></p>

	<h2>Characters:</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Level</th>
				<th>Race</th>
				<th>Archetype</th>
				<th>Class</th>
				<th colspan="300"></th>
			</tr>
		</thead>
		<tbody>
			<% @characters.each do |character| %>
				<tr>
					<td><%= character.name %></td>
					<td><%= character.level %></td>
					<td><%= character.race.name %></td>
					<td><%= character.archetype.name %></td>
					<td><%= character.role %></td>
					<td><%= link_to 'Show', character %> | <%= link_to 'Delete', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<td><%= link_to 'Create a Character', new_character_path(@user.id) %></td>

</div>